body, * {margin:0px;padding:0px;word-wrap:break-word;box-sizing:border-box;}
header {background-color:black;}
.col {display:inline-block; margin:5px; width:2vw;flex-grow:1;height:100% !important;}
.link {width:5vw;}
.col p {text-align:center;}
.col h6 {margin-top:5px;}
.col p {margin-bottom:5px;}
header a {text-decoration:none; color:white;}
header a:hover {color:lightblue;}
.bottom {  padding:15px;display:flex; flex-direction:row;justify-content:space-between;align-items:stretch;  }
footer * {width:100% !important;margin-top:10px;margin-bottom:10px; }
footer a {text-decoration:none; color:white;}
footer a:hover {color:lightblue;}
footer, .footer {bottom:0;background-color:#000000;color:#969696; 
margin-bottom:0px; width:100% !important;
 margin-left:0px;margin-right:0px;}
@media and (max-width:600px){
.top {flex-direction:column;}

header, .header {top:0;background-color:#000000;color:#969696;
 margin-top:0px; width:100% !important;}

.bottom {flex-direction:column;}
header * {width:100% !important;margin-bottom:10px;margin-top:10px; }

}
