html,body, * { box-sizing: border-box; 
    min-width: fit-content;min-height: fit-content;
    min-width: -moz-fit-content;min-height: -moz-fit-content;
    word-wrap: break-word;max-width: 100vw;word-break: break-all;text-align: center;
overflow-wrap: break-word;}
html,body {margin: 0;font-family: Verdana, sans-serif;background-color: #f1f1f1;color:#333;}
footer a {
    word-break: keep-all !important;display: inline-block !important;
}
#Contact-Us {
    margin:0;
    padding:0;
    background-color: #333;
    width:100%;
    color: aliceblue;
}


section {
    margin-left: 0;margin-right: 0;
}
/* .slide {
    background-image: url("../images/A_blue_sky11.jfif");
    background-size: cover;
    width:100vw;
    height: 500px;
    margin: 0;
} */

form {
    color:#f1f1f1;
    float:right; 
    width:45%;
    min-height:100%;
}
#Contact-Us form * {
    color:#f1f1f1;
    width:100%;
    padding:10px;
    line-height:normal;

}
#Contact-Us .inb {
    display: inline-block;
    width:50%;
    line-height:2;
    text-align: left;
}
form textarea {
    min-height:300px
}

#Contact-Us .inb p {
    list-style: disc;
    
}
p:first-child {margin-left:4px;}
input , textarea{
        background-color: #4B5557;    color:#f1f1f1;
}
#Contact-Us form input[type=submit]:hover {
    border:1px solid black;
    background-color: #f1f1f1; 
    color:black;cursor:pointer;
}
summary ~ p:before { content: "     ";}
section center h1 {
/*    padding:5%;*/
    font-size:2rem;
}
summary {
    cursor:pointer;
}


#Other #links div {
    align-content: center;
    align-items: center;
    text-align: center;
    width:100%;
    transition: 0.2s;
    height:5rem;
    color:black;
    position: relative;
}

#Other #links a {
    align-content: center;
    align-self: center;
   text-decoration: none;
    color:black;
    height:inherit;
    width:100%;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

#Other #links div:hover {
    background-color: lightblue;
    color:#333;
    cursor:pointer;
}
#Other {
    background-image: url("../images/A_blue_sky11.jfif");
    background-size: cover;
}


       .main section {
        min-height:1500px;
           text-align:center;
           /* padding:50px; */
        }
html {scroll-behavior: smooth;}
        .body {  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
        flex-direction: column;flex-wrap: wrap;flex-basis: auto;}
.main section { /* height: 1500px; */}
.main section:not(:last-child) {border-bottom:solid black 1px;}
body, * {margin:0px;padding:0px;word-wrap:break-word;box-sizing:border-box;
        }
header {background-color:black;}
.col {display:inline-block; margin:5px; width:2vw;flex-grow:1;height:100% !important;}
.link {width:5vw;}
.col p {text-align:center;}
.col h6 {margin-top:5px;}
.col p {margin-bottom:5px;}
header a {text-decoration:none; color:white;}
header a:hover {color:lightblue;}
.bottom {  padding:15px;display:flex; flex-direction:row;justify-content:space-between;align-items:stretch;  }
footer * {width:100%;color:#969696;}
footer a {text-decoration:none; color:white;}
footer a:hover {color:lightblue;}
footer, .footer {bottom:0;background-color:#000000;color:#969696; 
margin:0;padding: 10px; width:100% !important;
}
 .topBtn {transition: 0.3s;background-color: #f1f1f1;font-weight: 900;}
    .topBtn:hover {
        background-color: #1818de !important;
        color:white;
    }

@media and (max-width:360px){
.top {flex-direction:column;}
}

header, .header {top:0;background-color:#000000;color:#969696; margin-top:0px; width:100% !important;
 /* margin-left:0px;margin-right:0px; */}
@media and (max-width:360px){
.bottom {flex-direction:column;}
header * {width:100% !important;margin-bottom:10px;margin-top:10px; }
}
    .banner {
        width:100%;margin:0;padding:1em;
        font-size: 3em;background-color: yellow;height:3em;
    }
    
    
    .navSide:hover {
        transform: scaleX(1.2);
    }
    
    
    a.sectA:visited, a.sectA:active {
     background-color: lightgreen !important;
    }
    .readMore {background-color:transparent;border:0;margin:0;padding:0; display:inline-block;word-wrap:break-word;text-overflow:ellipsis;word-break:break-all; color:blue;cursor:pointer; }
.readMore:hover {text-decoration:underline;color:red;}
.container { 
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  flex-direction:row;flex-wrap:wrap;
align-content:center;align-items:center;justify-content:center; margin:1em;padding:1em;}
.item p {display:inline-block;word-wrap:break-word;text-overflow:ellipsis;word-break:break-all; padding:0;margin:0;
}
    .container * {box-sizing: content-box;}
.item {min-width: auto;min-height: auto; box-sizing: content-box; text-align:center; padding:1em;/* border:1px solid black; */ word-wrap:break-word;text-overflow:ellipsis; margin:1em; max-width:24%;flex:25%; align-self:center;}
 .item:hover { box-shadow: 4px 4px 8px 4px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

    .activeNav  {
        background-color: #f1f1f1 !important;color:#333 !important;
    }
.activeNav a { color:#333 !important;}

@media only screen and (max-width:600px){
    .container, .footer, .top, #nav {
        display:flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
}

@-moz-document url-prefix() {
   .footer a {
  display: inline-block;
word-break: keep-all;
    
    }
} 
